.container {
    width: 80%;
    margin: auto;
    display: block;
    padding: 20px 30px;
    border: 1px solid red;
}

.course-information p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #292929;
    margin: 0px;
    margin-bottom: 25px;
}

.course-code h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    font-weight: 400;
    color: black;
    margin: 0;
    margin-bottom: 5px;
}

.option-field1 {
    height: 50px;
    resize: vertical;
    width: 100%;
    height: 50px;
    padding: 1px 10px;
    color: #aaa;
    border: 1px solid #757575;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 5px 5px;
}

.field {
    width: 65%;
    margin: auto;
  
}

.field h2 {
    color: #292929;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Verdana';
    font-weight: bold;
    line-height: 10px;
}
.field h3 {
    color: #292929;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Verdana';
}

.left {
    position: absolute;
    left: 16px;
}

.center {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.center h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 10px;
}

.center h4 {
    font-weight: 700px;
    font-size: 20px;

}
.contact-button{
    line-height: 10px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
textarea{
    color:black;
}
/* begin section-grey */

.row {
    content: "";
    display: table;
    clear: both;
    width: 68%;
    margin: auto;
    margin-top: 15px;
}

.section-gray {
    background: #f7f8fa;
    padding: 70px 0 70px 0;
    width: 100%;
    height: auto;
}

.section-tittle {
    text-align: center;
}

.section-tittle h2 {
    color: #292929;
    margin-bottom: 15px;
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.section-subtittle {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-family: "Open Sans";
    color: #7c8595;
    margin-bottom: 15px;
}


/* begin contact-section*/

.section-contact h2 {
    color: #dddddd;
    font-size: 40px;
}

.section-contact p {
    color: #bbb;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    color: #dddddd;
    margin: 0px;
    margin-bottom: 18px;
    font-family: "Cabin", sans-serif;
}

.contact-column {
    float: left;
    width: 48%;
    height: auto;
    padding: 10px;
    margin: 0px 6px;
    margin-top: 30px;
    margin-bottom: 10px;
}

input[type="text"] {
    resize: vertical;
    width: 100%;
    height: 50px;
    padding: 1px 10px;
    color: #aaa;
    border: 1px solid #757575;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 5px 5px;
}

.white-input {
    margin-top: 15px;
}

textarea {
    height: auto;
    width: 50%;
    padding: 1px 10px;
    padding-top: 10px;
    color: black;
    border: 1px solid #757575;
    background-color: transparent;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
}

input[type="submit"] {
    color: #fff;
    background: #88ad45;
    text-align: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    padding: 18px 32px;
    position: relative;
    text-transform: uppercase;
    border-radius: 5px 5px;
}

.contact-submit {
    text-align: center;
}

input[type="text"]:hover {
    border: 1px solid #aaa;
}

input[type="submit"], textarea:hover {
    border: 1px solid #aaa;
}

@media screen and (max-width: 900px) {
    .contact-column {
        width: 100%;
        display: block;
        padding: 10px;
        margin: 10px auto auto auto;
    }
    .section-contact p {
        font-size: 14px;
    }
}

/* End- contact-section*/

/*-- begin footer-section */

.footer {
    z-index: 900;
    background-color: #2f3539;
    border-top: 1px solid #393f43;
    font-weight: 300;
    padding: 70px 0 70px 0;
    width: 100%;
    height: auto;
}

.footer-tittle {
    text-align: center;
    width: 80%;
    margin: auto;
}

.footer-tittle p {
    font-size: 17px;
    color: #cecece;
    font-family: "Open Sans";
}

.footer-tittle a {
    font-size: 17px;
    /* color: #88ad45; */
    text-decoration: underline;
    font-family: "Open Sans";
}

.footer-social {
    display: block;
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}

ul.footer-social li {
    display: inline;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}

ul.footer-social li a i {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    font-size: 25px !important;
    line-height: 26px !important;
    color: #8d8d8d;
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 55px 10px 55px 10px;
        width: 100%;
    }
}

/*-- End- footer-section */